name: Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest
    steps:
     - name: checkout source code
       uses: actions/checkout@v4
       
     - name: Setup .NET Core 3.1
       uses: actions/setup-dotnet@v4
       with:
         dotnet-version: '3.1.x'